# Virtual Environment
venv/
.venv/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Logs and TensorBoard
logs/

# Precomputed Data (keeping large redundant tables out)
expected_scores.npy
keep_patterns.npy

# IDEs
.vscode/
.idea/
